<!DOCTYPE hmtl>
<html>
  <head>
    <title>Coffee Quest Results</title>
  </head>
  <body>
    <br>
    <br>
    <h1>Arr! Bluebeard Coffee is your match!</h1>
    <img src="https://media.giphy.com/media/1034EEGrn91SrS/giphy.gif">
    <br>
    <h3>Sail the seas to this Tacoma coffee shop! It has a warm and friendly atmosphere, and coffee art. These pirates have no time to roast their beans, or provide an expansive list of food options. Join their crew: https://bluebeardcoffee.com.</h3>
    <img src = "https://cdn.shopify.com/s/files/1/1773/5695/files/bluebeard_interior_1440x640.jpg?v=1487196527">
  </body>
</html>
