<!DOCTYPE hmtl>
<html>
  <head>
    <title>Coffee Quest Results</title>
  </head>
  <body>
    <h2>There are two coffee shops in Tacoma that match that description!</h2>
    <img src="https://media.giphy.com/media/1034EEGrn91SrS/giphy.gif">
    <br>
    <h1>Both Valhalla Coffee and Metronome Coffee fit sound great for you!</h1>
    <br>
    <h3>Valhalla is not just in Asgard, it’s also in Tacoma. It has a warm and friendly atmosphere, and coffee art. These retail warriors are too busy with preparing for Ragnarok to roast their own beans. Nor do they have an expensive list of food options. Visit the Hall of the Dead’s website at http://www.valhallacoffee.com.</h3>
    <img src = "https://s3-media1.fl.yelpcdn.com/bphoto/DwMZinGP5unW_MGwWrTcwA/ls.jpg">
    <br>
    <br>
    <h3>Metronome Coffee is in Tacoma. It has a modern aesthetic and some pretty sick coffee art. Tragically, they don’t roast their own beans or have an expansive list of food options. Have a cup! See their pretty sick coffee here: http://metronomecoffee.com.</h3>
    <img src = "http://www.minordetailsdesign.com/images/photos/280MetronomeCoffee2.jpg">
  </body>
</html>