<!DOCTYPE hmtl>
<html>
  <head>
    <title>Coffee Quest Results</title>
  </head>
  <body>
    <br>
    <h1>Ghost Alley Espresso is up your alley!</h1>
    <img src="https://media.giphy.com/media/1034EEGrn91SrS/giphy.gif">
    <br>
    <h3>This spooky haunt will haunt you with its modern atmosphere. Catch your breath after a cryptid chase with one of this coffee shop's great drinks. Not one to worry about latte art or roasting beans in house, this shop is all about getting you ready for your next trip to find a ghoul. Visit this ghosty place's website: http://ghostalleyespresso.com! </h3>
    <img src = "https://d37219swed47g7.cloudfront.net/media/images/reviews/ghost-alley-espresso/banners/1503281164.51.jpg">
  </body>
</html>