<!DOCTYPE hmtl>
<html>
  <head>
    <title>Coffee Quest Results</title>
  </head>
  <body>
    <br>
    <br>
    <h1>The Seattle coffee shop you are looking for is The Jewelbox Cafe!</h1>
    <img src="https://media.giphy.com/media/1034EEGrn91SrS/giphy.gif">
    <h3>Jewel Box Cafe is in North Seattle. It has plenty of food options, a warm and friendly atmosphere, and coffee art. Their beans come to them pre-roasted, so no roasting happens in house. Find out more about this cup: http://www.jewelboxcafe.net.</h3>
  </body>
</html>
