<!DOCTYPE hmtl>
<html>
  <head>
    <title>Coffee Quest Results</title>
  </head>
  <body>
    <h1>The Seattle Meowtropolitan matched that description!</h1>
    <img src="https://media.giphy.com/media/1034EEGrn91SrS/giphy.gif">
    <br>
    <h3>Seattle Meowtropolitan is in North Seattle. It has a warm and friendly atmosphere with plenty of cats and a lot of latte art. While they don’t roast their beans or have too extensive of a menu, there’s a large variety of activities to do with the cats. All the cats come from the local Humane Society and are available for adoption. To learn more about this paw-sitively purr-fect cafe, visit their website: https://seattlemeowtropolitan.com/</h3>
  </body>
</html>