<!DOCTYPE hmtl>
<html>
  <head>
    <title>Coffee Quest Results</title>
  </head>
  <body>
    <h2>There are three Seattle coffee shops that match that description!</h2>
    <img src="https://media.giphy.com/media/1034EEGrn91SrS/giphy.gif">
    <br>
    <h1>Starbucks Reserve, Zeitgeist Coffee, and Slate Coffee all sound great for you.</h1>
    <br>
    <h3>Starbucks Reserve is in Downtown Seattle. It has a modern aesthetic, good food, and coffee art. They even roast their own beans. Not your average Starbucks, this branch will blow your mind with its drinks. This is the link: https://www.starbucksreserve.com.</h3>
    <img src = "https://cdn-starbucks.netdna-ssl.com/uploads/images/_framed/ogHicFaP-5760-3840.jpg">
    <br>
    <br>
    <h3>Zeitgeist Coffee is in Downtown Seattle. It has a modern aesthetic, good food, and coffee art. They don’t roast their own beans, but make up for it with their crisp appearance. Here is thee website: https://www.zeitgeistcoffee.com!</h3>
    <img src = "https://media-cdn.tripadvisor.com/media/photo-s/07/df/97/dc/zeitgeist.jpg">
    <br>
    <br>
    <h3>Slate Coffee is in Downtown Seattle. It has a modern aesthetic, good food, and coffee art. They don’t roast their beans, but the atmosphere is top notch. Here is the link: https://slatecoffee.com!</h3>
    <img src = "http://farm8.staticflickr.com/7421/8718878354_9b564ef270.jpg">
  </body>
</html>