<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Quest Results</title>
  </head>
  <body>
    <br>
    <br>
  <h1>There are four coffee shops like that!</h1>
  <img src="https://media.giphy.com/media/1034EEGrn91SrS/giphy.gif">
  <br>
  <h2>Anchorhead Coffee, Capitol Coffeeworks, Victrola Coffee, and Storyville Coffee are for you!</h>
  <br>
  <h3>Anchorhead Coffee is in Downtown Seattle. It has a modern aesthetic, good food, and coffee art. They even roast their own beans. Drop your anchor and relax at this coffee shop where the waves are always calm. This is their website: https://anchorheadcoffee.com!</h3>
  <img src = "https://www.freshcup.com/wp-content/uploads/2017/04/Front_Wnumbers.jpg">
  <br>
  <br>
  <h3>Capitol Coffee Works is in Downtown. It has a modern aesthetic, good food options, and coffee art. They even roast their own beans. The coffee is certain to work here! This is their link: http://www.seattlecoffeeworks.com/our-cafes.aspx!</h3>
  <img src = "https://d37219swed47g7.cloudfront.net/media/images/reviews/capitol-coffee-works/banners/1507922473.61.jpg">
  <br>
  <br>
  <h3>Victrola Coffee Roasters is in Downtown Seattle. It has a modern aesthetic, good food, and coffee art. They even roast their own beans. Victoria, the Roman goddess of victory, would approve. This is their link: https://www.victrolacoffee.com!</h3>
  <img src = "https://www.wheretraveler.com/sites/default/files/styles/body_full_width/public/Victrola%20w-%20People_Melissa_Shaw_Photography.jpg?itoku003dFAq1GgGn">
  <br>
  <br>
  <h3>Storyville Coffee is in Downtown Seattle. It has a modern aesthetic and coffee art. They even roast their own beans. All their food gets baked in house every day, with an amazing team of bakers. This is their link: https://www.storyville.com!</h3>
  <img src = "https://cdn.workfrom.co/files/2014/08/storyville-pikesplace-6.jpg">
  </body>
</html>
