<!DOCTYPE hmtl>
<html>
  <head>
    <title>Coffee Quest Results</title>
  </head>
  <body>
    <h2>There are two Seattle coffee shops that match that description!</h2>
    <img src="https://media.giphy.com/media/1034EEGrn91SrS/giphy.gif">
    <br>
    <h1>Cloud City Coffee and Caffe Vita both sound great for you!</h1>
    <br>
    <h3>Cloud City Coffee is in North Seattle. It has food options, a warm and friendly atmosphere, and coffee art. They even roast their own beans! Find out more about this sweet café: https://www.cloudcitycoffee.com/home/</h3>
    <img src = "https://i2.wp.com/seattleunexplored.com/wp-content/uploads/2018/03/IMG_1208.jpg?resize=300%2C225">
    <br>
    <br>
    <h3>Caffe Vita is in North Seattle. It has a warm and friendly atmosphere and coffee art. They even roast their own beans! However, they don’t have a very extensive menu. Stop by for a quick cup! This is their link: http://www.caffevita.com.</h3>
    <img src = "https://s3-media2.fl.yelpcdn.com/bphoto/HpgrdAWNysBQwEEHA5T1eg/o.jpg">
  </body>
</html>